In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import csv
import operator
import datetime
import os
import pickle
from collections import Counter

In [3]:
train_source = pd.read_parquet('./datagame-2023/label_train_source.parquet', engine='pyarrow')
test_source = pd.read_parquet('./datagame-2023/label_test_source.parquet', engine='pyarrow')
train_target = pd.read_parquet('./datagame-2023/label_train_target.parquet', engine='pyarrow')

In [4]:
meta_song = pd.read_parquet('./datagame-2023/meta_song.parquet', engine='pyarrow')
meta_song_composer = pd.read_parquet('./datagame-2023/meta_song_composer.parquet', engine='pyarrow')
meta_song_genre = pd.read_parquet('./datagame-2023/meta_song_genre.parquet', engine='pyarrow')
meta_song_lyricist = pd.read_parquet('./datagame-2023/meta_song_lyricist.parquet', engine='pyarrow')
meta_song_producer = pd.read_parquet('./datagame-2023/meta_song_producer.parquet', engine='pyarrow')
meta_song_titletext = pd.read_parquet('./datagame-2023/meta_song_titletext.parquet', engine='pyarrow')

In [5]:
train_source

,session_id,song_id,unix_played_at,play_status,login_type,listening_order
0,751,6027767fad949f3ca5e772df04924949,1659598909,1,7,1
1,751,041547bddb0a3e730f32db84c65868ca,1659599182,1,7,2
2,751,041547bddb0a3e730f32db84c65868ca,1659599184,0,7,3
3,751,041547bddb0a3e730f32db84c65868ca,1659599185,0,7,4
4,751,8b32f88104ecf859be934d9b45f30cd1,1659599218,1,7,5
...,...,...,...,...,...,...
11445175,458622,3ba8c1e455e27172edec64deff3a8b15,1662339887,2,7,16
11445176,458622,3ba8c1e455e27172edec64deff3a8b15,1662340090,2,7,17
11445177,458622,3ba8c1e455e27172edec64deff3a8b15,1662340294,2,7,18
11445178,458622,3ba8c1e455e27172edec64deff3a8b15,1662340497,2,7,19
11445179,458622,3ba8c1e455e27172edec64deff3a8b15,1662340701,2,7,20

In [92]:
meta_song

,song_id,artist_id,song_length,album_id,language_id,album_month
0,10a46165bb84e056438e06c35763ee61,39.0,202.0,202.0,3.0,2000-01
1,ff025522d0f8e7198a75a4e03edce55c,133.0,278.0,9615.0,3.0,1995-01
2,7feec55b825a1c93d55b3ef9af9f9be5,4147.0,306.0,19017.0,3.0,2015-06
3,ed8b14c6d0fccd1a95f9140933f809f3,114.0,263.0,21059.0,3.0,1989-01
4,2ce5e96e0213a6dac83c54b003418726,112.0,194.0,22531.0,3.0,2003-01
...,...,...,...,...,...,...
1030707,2e317504e175c1c6d18fa47b21b1a7f5,NaN,NaN,NaN,NaN,None
1030708,60f94d53d47ff60130924a320345b8f1,NaN,NaN,NaN,NaN,None
1030709,2c7c7dd5713f93222429a5f05732de3b,NaN,NaN,NaN,NaN,None
1030710,04e7a4fa2804ff363cf985fb83ac5d82,NaN,NaN,NaN,NaN,None
1030711,ade4aadba92824137d5abf61c477e437,NaN,NaN,NaN,NaN,None

In [6]:
#看每個item出現的次數
count_item = Counter(train_source['song_id'])
item_count = pd.DataFrame({"class":count_item.keys(),"count": count_item.values()})

#保留出現次數大於五次的item
item_count = item_count[item_count['count']>=5]
item_count = item_count.reset_index(level=None, drop=True)
item_count

                                   class  count
0       6027767fad949f3ca5e772df04924949   1875
1       041547bddb0a3e730f32db84c65868ca     93
2       e7efab54028017e35a35d1b1637e210c   1814
3       3f8e8cbe4b5d55f07ba4c7ddfab624b7    898
4       a97177f0f37a2bae91d8e67831949392     56
...                                  ...    ...
200033  2b220fc3cbad45ec475ab9ad5cd18c53      8
200034  9730759edd4726e6c5849da3dafaf98f     14
200035  4ef749a6cf9b3d5cece376661719a5f4      6
200036  b097b7bf687f97535bbdb85131f493a2      5
200037  b93b1b8825ee0fb462d80a696153a277     20

[200038 rows x 2 columns]

In [7]:
train_source = train_source[train_source['song_id'].isin(item_count['class'])]
test_source = test_source[test_source['song_id'].isin(item_count['class'])]
train_target = train_target[train_target['song_id'].isin(item_count['class'])]
train_source.reset_index(inplace=True, drop=True)
test_source.reset_index(inplace=True, drop=True)
train_target.reset_index(inplace=True, drop=True)

In [8]:
train_source

,session_id,song_id,unix_played_at,play_status,login_type,listening_order
0,751,6027767fad949f3ca5e772df04924949,1659598909,1,7,1
1,751,041547bddb0a3e730f32db84c65868ca,1659599182,1,7,2
2,751,041547bddb0a3e730f32db84c65868ca,1659599184,0,7,3
3,751,041547bddb0a3e730f32db84c65868ca,1659599185,0,7,4
4,751,041547bddb0a3e730f32db84c65868ca,1659599253,0,7,10
...,...,...,...,...,...,...
10682408,458622,3ba8c1e455e27172edec64deff3a8b15,1662339887,2,7,16
10682409,458622,3ba8c1e455e27172edec64deff3a8b15,1662340090,2,7,17
10682410,458622,3ba8c1e455e27172edec64deff3a8b15,1662340294,2,7,18
10682411,458622,3ba8c1e455e27172edec64deff3a8b15,1662340497,2,7,19
10682412,458622,3ba8c1e455e27172edec64deff3a8b15,1662340701,2,7,20

In [9]:
meta_song = meta_song[meta_song['song_id'].isin(item_count['class'])]
meta_song_composer = meta_song_composer[meta_song_composer['song_id'].isin(item_count['class'])]
meta_song_genre = meta_song_genre[meta_song_genre['song_id'].isin(item_count['class'])]
meta_song_lyricist = meta_song_lyricist[meta_song_lyricist['song_id'].isin(item_count['class'])]
meta_song_producer = meta_song_producer[meta_song_producer['song_id'].isin(item_count['class'])]
meta_song_titletext = meta_song_titletext[meta_song_titletext['song_id'].isin(item_count['class'])]

meta_song.reset_index(inplace=True, drop=True)
meta_song_composer.reset_index(inplace=True, drop=True)
meta_song_genre.reset_index(inplace=True, drop=True)
meta_song_lyricist.reset_index(inplace=True, drop=True)
meta_song_producer.reset_index(inplace=True, drop=True)
meta_song_titletext.reset_index(inplace=True, drop=True)

In [10]:
meta_song_genre

                                 song_id                          genre_id
0       7366ba2acd92eb262191bdaedf249462  b856b6781d370a3645c6dde0c20b3597
1       0145eadf202d4c7305aec592f7b9a50b  bb3d7b04b67d5aeb5ab145bdd70750da
2       38f01112ca17de3c98a18afb70a6d592  43244ec4c30a0dad837d982892bc0c05
3       724abe8167847fbb5d90f8bed0351486  b856b6781d370a3645c6dde0c20b3597
4       4ae00754a16db3e212953cb3525aa1c2  43244ec4c30a0dad837d982892bc0c05
...                                  ...                               ...
220196  0bafd37ef9486a402b05f2799c6c1dad  b856b6781d370a3645c6dde0c20b3597
220197  5bc4837bb5f1ac07ddd855816b93e8f8  b856b6781d370a3645c6dde0c20b3597
220198  9302ea84e01ba5ceb2e695663dd9c981  e1d5802bb4e0f6ab79b2b9f4a5ff924b
220199  e7909a30dd352edad562c5db2fc2135d  b856b6781d370a3645c6dde0c20b3597
220200  6736727754b235c9949bd528042789fa  b856b6781d370a3645c6dde0c20b3597

[220201 rows x 2 columns]

In [11]:
song_id = LabelEncoder()
artist_id = LabelEncoder()
song_length = LabelEncoder()
album_id = LabelEncoder()
language_id = LabelEncoder()
album_month = LabelEncoder()
composer_id = LabelEncoder()
genre_id = LabelEncoder()
lyricist_id	 = LabelEncoder()
producer_id = LabelEncoder()
title_text_id = LabelEncoder()

In [12]:
song_id.fit(pd.concat([meta_song['song_id'], meta_song_composer['song_id'], meta_song_composer['song_id'], meta_song_genre['song_id'], meta_song_lyricist['song_id'], meta_song_producer['song_id'], meta_song_titletext['song_id']]))
artist_id.fit(meta_song['artist_id'])
song_length.fit(meta_song['song_length'])
album_id.fit(meta_song['album_id'])
language_id.fit(meta_song['language_id'])
album_month.fit(meta_song['album_month'])
composer_id.fit(meta_song_composer['composer_id'])
genre_id.fit(meta_song_genre['genre_id'])
lyricist_id.fit(meta_song_lyricist['lyricist_id'])
producer_id.fit(meta_song_producer['producer_id'])
title_text_id.fit(meta_song_titletext['title_text_id'])

meta_song['song_id'] = song_id.transform(meta_song['song_id'])+1
meta_song['artist_id'] = artist_id.transform(meta_song['artist_id'])+1
meta_song['song_length'] = song_length.transform(meta_song['song_length'])+1
meta_song['album_id'] = album_id.transform(meta_song['album_id'])+1
meta_song['language_id'] = language_id.transform(meta_song['language_id'])+1
meta_song['album_month'] = album_month.transform(meta_song['album_month'])+1

meta_song_composer['song_id'] = song_id.transform(meta_song_composer['song_id'])+1
meta_song_composer['composer_id'] = composer_id.transform(meta_song_composer['composer_id'])+1

meta_song_genre['genre_id'] = genre_id.transform(meta_song_genre['genre_id'])+1
meta_song_genre['song_id'] = song_id.transform(meta_song_genre['song_id'])+1

meta_song_lyricist['song_id'] = song_id.transform(meta_song_lyricist['song_id'])+1
meta_song_lyricist['lyricist_id'] = lyricist_id.transform(meta_song_lyricist['lyricist_id'])+1

meta_song_producer['song_id'] = song_id.transform(meta_song_producer['song_id'])+1
meta_song_producer['producer_id'] = producer_id.transform(meta_song_producer['producer_id'])+1

meta_song_titletext['song_id'] = song_id.transform(meta_song_titletext['song_id'])+1
meta_song_titletext['title_text_id'] = title_text_id.transform(meta_song_titletext['title_text_id'])+1

In [13]:
meta_song['artist_id'] = meta_song['artist_id']+max(meta_song['song_id'])
meta_song['song_length'] = meta_song['song_length']+max(meta_song['artist_id'])
meta_song['album_id'] = meta_song['album_id']+max(meta_song['song_length'])
meta_song['language_id'] = meta_song['language_id']+max(meta_song['album_id'])
meta_song['album_month'] = meta_song['album_month']+max(meta_song['language_id'])

meta_song_composer['composer_id'] = meta_song_composer['composer_id']+max(meta_song['album_month'])
meta_song_genre['genre_id'] = meta_song_genre['genre_id']+max(meta_song_composer['composer_id'])
meta_song_lyricist['lyricist_id'] = meta_song_lyricist['lyricist_id']+max(meta_song_genre['genre_id'])
meta_song_producer['producer_id'] = meta_song_producer['producer_id']+max(meta_song_lyricist['lyricist_id'])
meta_song_titletext['title_text_id'] = meta_song_titletext['title_text_id']+max(meta_song_producer['producer_id'])

In [14]:
max(meta_song_titletext['title_text_id'])

411563

In [15]:
NONE = max(meta_song['album_month'])
meta_song['artist_id'] = meta_song['artist_id'].replace(max(meta_song['artist_id']), NONE)
meta_song['song_length'] = meta_song['song_length'].replace(max(meta_song['song_length']), NONE)
meta_song['album_id'] = meta_song['album_id'].replace(max(meta_song['album_id']), NONE)
meta_song['language_id'] = meta_song['language_id'].replace(max(meta_song['language_id']), NONE)

In [16]:
max(meta_song['song_id'])

200038

In [18]:
doc_list = [meta_song, meta_song_composer, meta_song_genre, meta_song_lyricist, meta_song_producer, meta_song_titletext] 
with open('./datagame-2023/kg.txt', "w") as f:
    total_relation = 0
    for i in doc_list:
        for index, row in i.iterrows():
            now = 0
            song = row['song_id']
            for i, name in row.iteritems():
                if i == 'song_id':
                    continue
                elif name == NONE:
                    now += 1
                    continue
                line = str(song)+' '+str(total_relation + now)+' '+str(name)+'\n'
                f.write(line)
                now += 1
        total_relation += now
        print(total_relation)

5
6
7
8
9
10

In [19]:
train_target['song_id'] = song_id.transform(train_target['song_id'])+1
train_source['song_id'] = song_id.transform(train_source['song_id'])+1
test_source['song_id'] = song_id.transform(test_source['song_id'])+1

C:\Users\c8905\AppData\Local\Temp\ipykernel_19444\942974910.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_source['song_id'] = song_id.transform(train_source['song_id'])+1

In [22]:
sess_target = {}
ctr = 0
curid = -1
for index, row in train_target.iterrows():
    sessid = int(row['session_id'])
    if not curid == sessid:
        curid = sessid
        item = int(row['song_id'])
    else:
        continue
        
    if sessid in sess_target:
        continue
    else:
        sess_target[sessid] = item

In [23]:
sess_target

{307: 92132,
 1504: 41584,
 3505: 54385,
 4207: 64411,
 4974: 30511,
 5403: 147447,
 6277: 150658,
 7106: 126317,
 7312: 523,
 7333: 91413,
 8015: 93222,
 8403: 144180,
 8630: 85769,
 8707: 100329,
 10291: 123668,
 11085: 78530,
 11126: 194698,
 11430: 16700,
 11644: 60000,
 12162: 85203,
 13172: 141172,
 13490: 134123,
 13945: 179185,
 15676: 108097,
 15947: 102465,
 16806: 60531,
 18340: 194764,
 18737: 104302,
 20020: 95948,
 20171: 4557,
 20433: 77846,
 20887: 82067,
 21776: 33766,
 22860: 159116,
 23805: 179371,
 24972: 63991,
 25721: 111763,
 26614: 63461,
 29130: 92746,
 29366: 38617,
 29710: 4313,
 30553: 60544,
 30967: 12147,
 31894: 195454,
 34233: 149082,
 35042: 23308,
 35282: 42559,
 35895: 12254,
 36621: 28650,
 36680: 114194,
 37246: 33614,
 37782: 182110,
 38316: 55501,
 39206: 68491,
 39480: 42346,
 39626: 73319,
 39662: 102465,
 40342: 154713,
 40684: 110145,
 41385: 46976,
 41395: 23308,
 41474: 5321,
 41522: 171955,
 41961: 100586,
 42377: 150081,
 42762: 182025,
 43765: 198022,
 44537: 169052,
 47355: 181143,
 48297: 69988,
 48944: 119681,
 49403: 42559,
 49437: 175027,
 49484: 198600,
 49655: 1224,
 49810: 163431,
 49991: 191135,
 51045: 144971,
 52477: 126189,
 52770: 123421,
 53156: 132156,
 55922: 161481,
 56274: 120021,
 56390: 6503,
 56656: 141615,
 57492: 75439,
 58502: 151359,
 58741: 104302,
 58777: 96274,
 60446: 183093,
 60950: 105034,
 61023: 99601,
 62020: 46614,
 62077: 116311,
 63427: 100444,
 63534: 93981,
 63821: 132495,
 67634: 109197,
 68912: 3779,
 68993: 6077,
 69966: 121301,
 70095: 139477,
 70362: 63612,
 70547: 99515,
 70950: 76176,
 71503: 136931,
 72233: 113288,
 73051: 61275,
 73730: 134821,
 73883: 83017,
 74256: 157266,
 74384: 32640,
 75640: 15480,
 76735: 137601,
 77675: 102670,
 79620: 63612,
 79887: 85615,
 80091: 74652,
 80670: 64842,
 81431: 178912,
 82971: 151782,
 83044: 199897,
 83497: 128921,
 84106: 118880,
 84123: 115919,
 84461: 75350,
 84614: 81625,
 85217: 169389,
 85480: 86762,
 86367: 154986,
 87331: 165376,
 87530: 196689,
 88496: 128829,
 89444: 96496,
 89905: 76739,
 90493: 155805,
 93764: 3100,
 94432: 62996,
 94750: 114475,
 95524: 27615,
 95710: 162401,
 95826: 119149,
 96622: 69340,
 97295: 117471,
 99191: 170780,
 99310: 82928,
 101310: 107302,
 101791: 22496,
 101932: 141370,
 102171: 59124,
 103437: 31058,
 104454: 29206,
 104836: 121793,
 105231: 17336,
 105262: 39932,
 108466: 56515,
 110172: 38855,
 110342: 11942,
 112936: 79583,
 113312: 81292,
 113503: 109369,
 114126: 76637,
 114393: 169083,
 114817: 165145,
 114997: 12787,
 116004: 36402,
 116064: 53577,
 116142: 40444,
 116894: 18318,
 117272: 51286,
 119043: 120973,
 119067: 77524,
 119695: 164186,
 120664: 173143,
 121255: 104321,
 121457: 51043,
 122997: 158450,
 123336: 195829,
 123480: 70560,
 124205: 181071,
 125001: 31284,
 126180: 51228,
 126815: 4376,
 126842: 64422,
 128025: 171271,
 128450: 63712,
 128600: 41082,
 128972: 166257,
 129466: 36656,
 129717: 128177,
 130160: 8737,
 130192: 114515,
 131470: 55038,
 131606: 171938,
 131694: 181859,
 131787: 113929,
 132316: 184739,
 132412: 176086,
 133030: 166831,
 134436: 44181,
 135424: 149895,
 138000: 170305,
 139041: 64950,
 139243: 95357,
 139931: 84981,
 140180: 130330,
 140190: 155847,
 140397: 183268,
 141066: 151075,
 141322: 116133,
 141481: 186951,
 142855: 190503,
 143146: 51845,
 143562: 189322,
 143863: 19918,
 145521: 136640,
 145772: 60862,
 147020: 126940,
 147052: 159121,
 147172: 139848,
 147987: 160605,
 148766: 168770,
 149164: 16133,
 149385: 6003,
 149512: 112801,
 149967: 137889,
 150753: 3466,
 151884: 153004,
 154001: 149998,
 154254: 98158,
 155643: 114659,
 155810: 51106,
 155955: 10224,
 156540: 134693,
 159123: 75942,
 159240: 72891,
 160466: 61962,
 160920: 994,
 160962: 191208,
 161382: 15080,
 161412: 181601,
 161616: 16790,
 163246: 166524,
 165430: 83321,
 166000: 29710,
 166085: 43506,
 169094: 104523,
 170880: 60651,
 171022: 33615,
 171284: 114515,
 171386: 60817,
 172830: 153159,
 172884: 114407,
 173495: 196916,
 173576: 50822,
 173580: 112026,
 174740: 95653,
 174854: 53293,
 174876: 124331,
 174907: 2898,
 175270: 71649,
 175714: 133513,
 175980: 23935,
 176091: 167645,
 176862: 20138,
 176912: 163988,
 178873: 120950,
 179057: 138124,
 181461: 160463,
 181972: 188144,
 182166: 159441,
 182272: 198637,
 182317: 127592,
 182533: 110259,
 183130: 22407,
 184153: 77582,
 184666: 36782,
 185490: 34878,
 185843: 42986,
 185885: 157200,
 186853: 111812,
 187547: 60817,
 189457: 32342,
 190181: 61998,
 190546: 85705,
 190705: 150796,
 192681: 184454,
 192965: 47836,
 195456: 148387,
 195677: 177453,
 195832: 101077,
 196617: 79194,
 197502: 176630,
 197553: 5780,
 197612: 104252,
 198041: 143164,
 198653: 104976,
 198834: 104976,
 198924: 181885,
 198953: 31984,
 199255: 111230,
 200766: 24353,
 201203: 34569,
 201742: 117682,
 202411: 184064,
 202803: 73967,
 202814: 166345,
 202984: 122413,
 203911: 15406,
 204715: 16579,
 205111: 189601,
 206275: 120306,
 206340: 191074,
 206785: 82147,
 207530: 84396,
 210370: 176892,
 210830: 39220,
 210833: 84623,
 211783: 143872,
 211982: 44219,
 212843: 59382,
 214020: 101296,
 214133: 184073,
 214895: 104982,
 214912: 31550,
 215181: 48225,
 215652: 22793,
 216400: 98437,
 216411: 115599,
 216801: 55453,
 217405: 80361,
 217584: 134750,
 217683: 82158,
 218834: 179706,
 219807: 44485,
 220200: 71399,
 222056: 2798,
 222234: 101579,
 222293: 129905,
 222302: 143773,
 222347: 88102,
 223145: 88476,
 223461: 159334,
 224724: 86925,
 224784: 41636,
 225222: 142127,
 226983: 28238,
 227166: 43008,
 228427: 121719,
 229285: 6568,
 230943: 83450,
 231935: 136137,
 232936: 18018,
 233040: 100987,
 233917: 139085,
 237823: 20032,
 237971: 49563,
 239121: 141227,
 239501: 20499,
 239983: 89370,
 240427: 30961,
 240487: 110015,
 241655: 58134,
 242426: 108269,
 242630: 102839,
 243420: 110310,
 243546: 82546,
 243561: 13317,
 244062: 143922,
 244516: 184562,
 244747: 122498,
 245186: 129668,
 246507: 22394,
 246745: 19658,
 247090: 176943,
 247186: 50849,
 247224: 21791,
 247872: 138236,
 248874: 156081,
 252856: 29009,
 253134: 116629,
 253531: 188809,
 253780: 114515,
 256050: 152301,
 256266: 64520,
 256346: 126304,
 257277: 83511,
 259484: 189601,
 260061: 17461,
 260581: 36438,
 263065: 28183,
 263440: 23857,
 264895: 93548,
 265616: 100406,
 266217: 137363,
 266887: 157874,
 267332: 83169,
 267383: 180496,
 268872: 76269,
 269156: 9575,
 269362: 113759,
 272197: 181270,
 272265: 88632,
 272383: 161772,
 272500: 182045,
 273070: 31166,
 273092: 104944,
 274296: 129146,
 274322: 89504,
 275310: 172564,
 277252: 63102,
 278361: 81577,
 278486: 163687,
 278616: 182013,
 279372: 170466,
 279391: 167749,
 280710: 9070,
 280782: 144839,
 281456: 110808,
 281912: 56143,
 282113: 20100,
 282921: 179417,
 284004: 13857,
 287475: 82210,
 287502: 100581,
 287901: 81634,
 288236: 41378,
 288865: 81062,
 289121: 3592,
 291392: 58014,
 291605: 195859,
 294980: 143801,
 295076: 78200,
 295325: 14356,
 296991: 198521,
 297536: 137694,
 297685: 134909,
 297837: 121827,
 299411: 108948,
 299801: 197721,
 300252: 163456,
 300522: 79671,
 300591: 1007,
 301383: 129392,
 302864: 176965,
 303191: 96438,
 303235: 44940,
 303650: 140695,
 303700: 172041,
 304112: 32342,
 304211: 89278,
 304646: 175508,
 304985: 86549,
 305034: 159346,
 305236: 159288,
 305943: 49263,
 306141: 144618,
 306676: 152691,
 306874: 67107,
 307130: 142492,
 307230: 172595,
 307440: 166621,
 307617: 159224,
 307702: 191209,
 314353: 138937,
 315115: 120524,
 316104: 191472,
 317055: 189829,
 317507: 191799,
 317626: 175921,
 317660: 65504,
 318050: 192360,
 318801: 87582,
 319897: 180058,
 320314: 46421,
 321470: 121250,
 321810: 48249,
 322093: 18649,
 323026: 58077,
 323812: 143148,
 324216: 73191,
 325771: 81139,
 326077: 71898,
 326746: 161294,
 326856: 104794,
 328317: 133665,
 328785: 177218,
 329685: 59047,
 330106: 61234,
 330635: 191472,
 331484: 135159,
 331615: 9710,
 331992: 100259,
 332184: 113759,
 332784: 160090,
 333012: 198566,
 333334: 150328,
 333577: 54528,
 336583: 46836,
 337502: 139897,
 338075: 67067,
 338150: 7797,
 338296: 77806,
 338563: 14314,
 339154: 187944,
 339470: 197397,
 340455: 150739,
 341507: 175806,
 341656: 27275,
 341924: 96320,
 341985: 186156,
 342451: 151084,
 343130: 57829,
 343697: 111230,
 344481: 18457,
 345047: 65823,
 346051: 172595,
 346640: 87199,
 346667: 108797,
 346841: 166834,
 346884: 176407,
 347582: 187201,
 348377: 106107,
 348415: 150631,
 348534: 140888,
 348946: 191678,
 349062: 46276,
 350133: 123689,
 350217: 171461,
 351115: 26553,
 352112: 6184,
 352446: 46159,
 352555: 64041,
 353101: 167861,
 354207: 82900,
 354570: 178908,
 356482: 89504,
 356984: 112713,
 357453: 106173,
 358581: 112076,
 359973: 15672,
 360920: 42820,
 361292: 173969,
 361601: 19111,
 362793: 4562,
 366262: 7349,
 367220: 15058,
 369287: 159346,
 369804: 49192,
 370490: 59260,
 371471: 92729,
 372405: 113546,
 372714: 163770,
 374153: 150867,
 375323: 193641,
 375827: 168638,
 375853: 105842,
 376037: 187150,
 376051: 85993,
 376350: 90901,
 376743: 17090,
 377116: 94182,
 377614: 141871,
 377632: 40754,
 377700: 117024,
 377804: 45240,
 377907: 14865,
 377937: 158951,
 377953: 118493,
 378284: 183240,
 378920: 55829,
 379112: 28810,
 380363: 74583,
 381596: 23111,
 381783: 106669,
 382005: 42928,
 382795: 78295,
 383322: 183848,
 383974: 54528,
 387372: 75523,
 387561: 105081,
 388352: 117897,
 388945: 43548,
 389163: 24301,
 389755: 74278,
 390584: 48410,
 391087: 77024,
 391354: 174068,
 391696: 9111,
 392351: 192453,
 392402: 43548,
 393287: 77688,
 394935: 97116,
 395006: 124918,
 395054: 113166,
 395723: 100898,
 396825: 72891,
 397267: 157857,
 397881: 190304,
 398605: 172259,
 398891: 145322,
 399236: 112384,
 400046: 30541,
 400047: 199795,
 400122: 63712,
 400671: 4780,
 402367: 47243,
 402797: 31601,
 402893: 62326,
 404222: 71358,
 404773: 83450,
 404874: 148640,
 405483: 139929,
 406027: 84623,
 406881: 104764,
 407141: 195628,
 407211: 26209,
 407957: 131109,
 408620: 89855,
 408645: 104764,
 409125: 44378,
 409196: 76134,
 409440: 178571,
 410071: 115970,
 411281: 125422,
 412550: 133746,
 412694: 166592,
 413044: 110412,
 413332: 36403,
 414035: 144078,
 414401: 185932,
 415302: 43395,
 415495: 158972,
 416354: 158056,
 417816: 157971,
 418856: 64219,
 420344: 58894,
 420920: 121514,
 421542: 102440,
 422470: 164324,
 422753: 141207,
 423344: 95389,
 423724: 67107,
 424051: 78322,
 424786: 119712,
 425686: 157808,
 426116: 104413,
 426556: 51937,
 426815: 65,
 427547: 76110,
 428266: 119440,
 428462: 25446,
 428681: 43266,
 429944: 53481,
 430380: 142130,
 431366: 124331,
 432820: 10679,
 433417: 8266,
 433485: 71418,
 433864: 66139,
 433882: 156998,
 435053: 130747,
 435185: 9220,
 435560: 149135,
 436510: 114548,
 437681: 101557,
 440755: 75972,
 440781: 199216,
 441225: 72719,
 442023: 102603,
 442660: 159440,
 442933: 110325,
 443355: 61607,
 443691: 114029,
 443877: 98714,
 444491: 91111,
 444667: 5179,
 445471: 32342,
 445530: 167441,
 446237: 137804,
 446513: 84903,
 446712: 166986,
 446847: 3528,
 447382: 199600,
 447594: 67448,
 447974: 145836,
 448367: 64954,
 448533: 13681,
 448730: 86305,
 449674: 42980,
 449795: 54266,
 450377: 93077,
 450611: 133168,
 451881: 163687,
 452066: 29599,
 452483: 5432,
 452583: 160601,
 452667: 106531,
 453747: 198769,
 454415: 161370,
 454481: 9070,
 454854: 129161,
 455023: 111117,
 455082: 77732,
 455087: 6398,
 456464: 56358,
 457042: 92973,
 457170: 67727,
 457764: 84369,
 457972: 46666,
 458364: 82469,
 458734: 124183,
 459637: 163000,
 459673: 115975,
 460223: 75819,
 460496: 102978,
 462416: 133056,
 463215: 130330,
 464310: 38029,
 466324: 43839,
 467904: 32337,
 469602: 165892,
 470006: 188610,
 470216: 86250,
 470250: 60206,
 470397: 70560,
 470510: 80116,
 470904: 63650,
 470925: 39242,
 471150: 5158,
 471151: 5158,
 471727: 16954,
 471844: 22679,
 472864: 45460,
 473110: 75818,
 473387: 79478,
 476354: 11050,
 476525: 57277,
 477563: 41041,
 478911: 190368,
 479731: 103782,
 479735: 47201,
 480027: 58014,
 480540: 88142,
 481453: 195699,
 481972: 169449,
 482525: 109823,
 482660: 171689,
 484700: 56238,
 485172: 195538,
 485466: 124806,
 485867: 144042,
 486153: 59193,
 486191: 170417,
 487125: 181860,
 487217: 137718,
 487500: 9865,
 488792: 33424,
 489985: 69516,
 490280: 68225,
 490390: 191678,
 490620: 118230,
 490812: 198646,
 490912: 100133,
 491102: 138571,
 491803: 177205,
 492783: 45318,
 492921: 122779,
 493823: 155320,
 494264: 87199,
 497055: 105059,
 497656: 190882,
 499184: 143107,
 499463: 63575,
 500547: 17333,
 501422: 17429,
 501451: 58650,
 501600: 142504,
 501666: 6491,
 502045: 122278,
 502604: 136656,
 502643: 114630,
 503352: 31332,
 503495: 75407,
 503523: 167625,
 503640: 35528,
 504236: 183520,
 504521: 43821,
 504616: 73188,
 504914: 58901,
 505081: 26129,
 505215: 144713,
 505232: 146677,
 508056: 33119,
 508183: 198025,
 508757: 42814,
 510932: 89150,
 511584: 192065,
 511592: 188215,
 511665: 139207,
 512734: 109753,
 513542: 97567,
 514400: 27854,
 514856: 159288,
 516543: 115741,
 517261: 167508,
 518160: 164792,
 518485: 10886,
 518634: 169775,
 519066: 81139,
 519310: 10740,
 520355: 35097,
 521386: 95509,
 521805: 187150,
 522914: 6600,
 523506: 188809,
 524004: 8267,
 524096: 162640,
 524276: 126669,
 526362: 172367,
 527466: 120657,
 529286: 18120,
 529416: 63321,
 529422: 26506,
 531501: 19484,
 531921: 45778,
 531994: 139403,
 532136: 4017,
 532380: 56929,
 532517: 165009,
 533513: 46191,
 535595: 49152,
 536374: 196311,
 536722: 37350,
 537214: 120518,
 537216: 102956,
 537422: 132459,
 539311: 186954,
 540035: 28117,
 541195: 97382,
 541770: 164267,
 542145: 154647,
 543217: 109665,
 543992: 186316,
 544256: 79280,
 545111: 152699,
 545231: 92938,
 547566: 81875,
 547633: 157874,
 548160: 29970,
 548635: 153647,
 548742: 56412,
 549256: 192687,
 549545: 57120,
 550425: 70944,
 552103: 163015,
 552293: 24402,
 552405: 115799,
 552720: 185546,
 552845: 67418,
 553256: 44666,
 553672: 37041,
 553785: 106096,
 554667: 94706,
 554904: 131138,
 556503: 76489,
 556687: 33959,
 557232: 131566,
 557237: 93758,
 557807: 127352,
 558447: 88662,
 558683: 83325,
 558955: 185501,
 559433: 118164,
 560114: 104037,
 561357: 124470,
 561395: 4853,
 561564: 66418,
 562212: 27259,
 562482: 173515,
 562763: 48490,
 564362: 183068,
 564626: 186822,
 565205: 174319,
 565467: 152639,
 565513: 77939,
 567526: 88243,
 568261: 542,
 568547: 85510,
 569352: 155252,
 569716: 12778,
 569761: 136918,
 570121: 74655,
 570401: 147869,
 571194: 137951,
 573895: 142056,
 574163: 122165,
 574696: 97512,
 576045: 100295,
 576304: 64806,
 576721: 29570,
 577145: 179985,
 577644: 12660,
 578583: 29773,
 578611: 52401,
 578656: 17061,
 578916: 198657,
 579411: 199759,
 580544: 12771,
 581215: 15929,
 581882: 196102,
 582751: 111747,
 583637: 19484,
 583716: 3382,
 584602: 127727,
 584681: 42151,
 585150: 85531,
 585536: 34067,
 585676: 170034,
 587887: 103849,
 587943: 20023,
 588880: 190593,
 589155: 124132,
 589345: 68226,
 589813: 195752,
 592333: 71785,
 592751: 31402,
 593080: 60488,
 593681: 186464,
 594025: 145685,
 594346: 43953,
 595966: 82313,
 596654: 32342,
 599766: 103656,
 600085: 140865,
 600303: 144736,
 601012: 127713,
 602902: 809,
 604604: 188976,
 604875: 586,
 604920: 90901,
 604971: 20664,
 605234: 118468,
 606525: 97125,
 606567: 102483,
 606905: 148166,
 609082: 24860,
 609517: 97176,
 609594: 45855,
 610234: 120915,
 611973: 29936,
 612154: 84372,
 612550: 180766,
 612757: 83724,
 612765: 91073,
 612802: 91244,
 613522: 161601,
 613965: 123079,
 614173: 7027,
 614282: 70237,
 614725: 126940,
 615335: 80142,
 615410: 61596,
 616750: 20695,
 617714: 110402,
 618060: 23122,
 618780: 138373,
 618835: 38185,
 619026: 48872,
 621911: 118959,
 622031: 125077,
 622243: 58049,
 622772: 108797,
 623625: 53503,
 625237: 110859,
 625434: 41639,
 625546: 58522,
 625610: 136533,
 626076: 13012,
 626362: 134803,
 627096: 50426,
 627103: 116880,
 628123: 178140,
 628230: 98996,
 628994: 68022,
 630014: 178256,
 630456: 197667,
 630577: 31869,
 630861: 197427,
 630904: 89160,
 631086: 109667,
 631296: 102014,
 634364: 26968,
 634964: 46965,
 634992: 42587,
 635852: 171028,
 637116: 180383,
 637491: 183909,
 638740: 20974,
 639181: 131756,
 ...}

In [24]:
sess_clicks = {}
sess_date = {}
ctr = 0
curid = -1
curdate = None
for index, row in train_source.iterrows():
    sessid = int(row['session_id'])
    if curdate and not curid == sessid:
        date = curdate
        sess_date[curid] = date
    curid = sessid
    item = int(row['song_id'])
    curdate = float(row['unix_played_at'])

    if sessid in sess_clicks:
        sess_clicks[sessid] += [item]
    else:
        sess_clicks[sessid] = [item]
    ctr += 1
date = float(row['unix_played_at'])
sess_date[curid] = date

In [25]:
dates = list(sess_date.items())

maxdate = max(train_source["unix_played_at"])
splitdate = 0

splitdate = maxdate - 86400 * 30   # the number of seconds for a day：86400

print('Splitting date', splitdate)  
tra_sess = list(filter(lambda x: int(x[1]) < splitdate, dates))
tes_sess = list(filter(lambda x: int(x[1]) > splitdate, dates))

tra_sess = sorted(tra_sess, key=operator.itemgetter(1))  # [(session_id, timestamp), (), ]
tes_sess = sorted(tes_sess, key=operator.itemgetter(1))  # [(session_id, timestamp), (), ]
print(len(tra_sess))  # 186670    # 7966257
print(len(tes_sess))  # 15979     # 15324
print(tra_sess[:3])
print(tes_sess[:3])
#print("-- Splitting train set and test set @ %ss" % datetime.datetime.now())

item_dict = {}


# Convert training sessions to sequences and renumber items to start from 1
def obtian_tra():
    train_ids = []
    train_seqs = []
    train_dates = []
    item_ctr = 1
    for s, date in tra_sess:
        seq = sess_clicks[s]
        outseq = []
        for i in seq:
            if i in item_dict:
                outseq += [i]
            else:
                outseq += [i]
                item_dict[i] = i
                item_ctr += 1
        if len(outseq) < 2:  # Doesn't occur
            continue
        train_ids += [s]
        train_dates += [date]
        train_seqs += [outseq]
    print('item_ctr')
    print(item_ctr)     # 43098, 37484
    return train_ids, train_dates, train_seqs

# Convert test sessions to sequences, ignoring items that do not appear in training set
def obtian_tes():
    test_ids = []
    test_seqs = []
    test_dates = []
    for s, date in tes_sess:
        seq = sess_clicks[s]
        outseq = []
        for i in seq:
            if i in item_dict:
                outseq += [i]
        if len(outseq) < 2:
            continue
        test_ids += [s]
        test_dates += [date]
        test_seqs += [outseq]
    return test_ids, test_dates, test_seqs

tra_ids, tra_dates, tra_seqs = obtian_tra()
tes_ids, tes_dates, tes_seqs = obtian_tes()

def process_seqs(seqid, iseqs, idates):
    out_seqs = []
    out_dates = []
    labs = []
    ids = []
    for id, sessionID, seq, date in zip(range(len(iseqs)), seqid, iseqs, idates):
        for i in range(1, 2):
            if sessionID in sess_target:
                tar = sess_target[sessionID]
                labs += [tar]
                out_seqs += [seq[:-i]]
                out_dates += [date]
                ids += [sessionID]
    return out_seqs, out_dates, labs, ids

tr_seqs, tr_dates, tr_labs, tr_ids = process_seqs(tra_ids, tra_seqs, tra_dates)
te_seqs, te_dates, te_labs, te_ids = process_seqs(tes_ids, tes_seqs, tes_dates)
tra = (tr_seqs, tr_labs)
tes = (te_seqs, te_labs)
print(len(tr_seqs))
print(len(te_seqs))
print(tr_seqs[:3], tr_dates[:3], tr_labs[:3])
print(te_seqs[:3], te_dates[:3], te_labs[:3])
all = 0

for seq in tra_seqs:
    all += len(seq)
for seq in tes_seqs:
    all += len(seq)
print('avg length: ', all * 1.0/(len(tra_seqs) + len(tes_seqs)))

if not os.path.exists('KKBOX'):
    os.makedirs('KKBOX')
pickle.dump(tra, open('KKBOX/train.txt', 'wb'))
pickle.dump(tes, open('KKBOX/test.txt', 'wb'))
pickle.dump(tra_seqs, open('KKBOX/all_train_seq.txt', 'wb'))

print('Done.')

Splitting date 1664553437
391662
178862
[(273896, 1659225628.0), (43714, 1659225654.0), (84153, 1659225798.0)]
[(560494, 1664553454.0), (249084, 1664553481.0), (393650, 1664553485.0)]
item_ctr
195499
385625
174346
[[15525, 17365, 6245, 145480, 165890, 175921, 163565, 150166, 176667, 18582, 56024, 128862, 185074, 75821, 17836, 179802, 2798, 74482, 177880], [109059, 64436, 123675, 21555, 87925, 166468, 78207, 170508, 87117, 148304, 74007, 12737, 106388], [135067, 176955, 176955, 57460]] [1659225628.0, 1659225654.0, 1659225798.0] [185728, 25941, 135335]
[[47948, 98679, 63281, 114930, 142905, 125196, 23103, 107656, 167638, 150092, 42695, 101776, 18711, 115265, 165272, 32731], [156081, 156081, 156081, 156081, 156081, 156081, 156081, 156081, 156081, 156081, 156081, 156081, 156081, 156081, 156081, 156081, 156081, 156081, 156081], [183437, 183437, 183437, 183437, 183437, 183437, 183437, 183437, 183437, 183437, 183437, 183437, 183437, 183437, 183437, 183437, 183437]] [1664553454.0, 1664553481.0, 1664553485.0] [80896, 156081, 183437]
avg length:  18.586171486948253
Done.

# 將test data轉換為模型的輸入格式

In [26]:
sess_clicks = {}
sess_date = {}
ctr = 0
curid = -1
curdate = None
for index, row in test_source.iterrows():
    sessid = int(row['session_id'])
    if curdate and not curid == sessid:
        date = curdate
        sess_date[curid] = date
    curid = sessid
    item = int(row['song_id'])
    curdate = float(row['unix_played_at'])

    if sessid in sess_clicks:
        sess_clicks[sessid] += [item]
    else:
        sess_clicks[sessid] = [item]
    ctr += 1
date = float(row['unix_played_at'])
sess_date[curid] = date

item_dict = {}

def obtian_tes():
    test_ids = []
    test_seqs = []
    test_dates = []
    item_ctr = 1
    for s in sess_clicks.keys():
        seq = sess_clicks[s]
        outseq = []
        for i in seq:
            if i in item_dict:
                outseq += [i]
            else:
                outseq += [i]
                item_dict[i] = i
                item_ctr += 1
        test_ids += [s]
        test_seqs += [outseq]
    return test_ids, test_seqs
tes_ids, tes_seqs = obtian_tes()

def process_seqs(seqid, iseqs):
    out_seqs = []
    out_dates = []
    labs = []
    ids = []
    for id, sessionID, seq in zip(range(len(iseqs)), seqid, iseqs):
        for i in range(1, 2):
            out_seqs += [seq]
            labs += [0]
            ids += [sessionID]
    return out_seqs, labs, ids

te_seqs, te_labs, te_ids = process_seqs(tes_ids, tes_seqs)
tes = (te_seqs, te_labs)
pickle.dump(tes, open('./KKBOX/true_test.txt', 'wb'))

# 訓練完要把結果放過來轉換

In [ ]:
count_session = Counter(test_source['session_id'])
session_list = pd.DataFrame({"class":count_session.keys(),"count": count_session.values()})

In [ ]:
test = pd.read_parquet('./datagame-2023/label_test_source.parquet', engine='pyarrow')
count_test = Counter(test['session_id'])
test_list = pd.DataFrame({"class":count_test.keys(),"count": count_test.values()})
test_list['class']

In [ ]:
difference = list(set(test_list['class']).difference(set(session_list['class'])))
len(difference)

In [ ]:
prediction = pd.read_csv('./prediction.txt', sep=' ', names=['session_id', 'top1', 'top2', 'top3', 'top4', 'top5'])
prediction.drop_duplicates( keep='first', inplace=True)

In [ ]:
prediction = prediction.sort_values(by='session_id')
prediction

In [ ]:
prediction['session_id'] = list(session_list['class'])
prediction

In [ ]:
difference = pd.DataFrame(difference, columns=['session_id'])
prediction = pd.concat([prediction, difference], ignore_index=True).fillna(57959).astype(int)

In [ ]:
prediction['top1'] = song_id.inverse_transform(prediction['top1'])
prediction['top2'] = song_id.inverse_transform(prediction['top2'])
prediction['top3'] = song_id.inverse_transform(prediction['top3'])
prediction['top4'] = song_id.inverse_transform(prediction['top4'])
prediction['top5'] = song_id.inverse_transform(prediction['top5'])

In [ ]:
prediction.to_csv('./result.csv', index=False)